@import '../../global.scss';

.portfolioList {
    font-size: 16px;
    font-weight: 500;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    @include mobile {
        margin: 5px;
    }

    &.active {
        background-color: $mainColor;
        color: white;
    }
}